
body {
width: 1100px; height: 900px; margin: auto; background-color: #EEEEEE; 
}
.jumbotron {
	height: 200px; margin: auto; background-color: #b2bec3; 
	margin-top: 5px; margin-bottom: 25px;
}
section{ 
background-image: url('background4.jpg'); height: 500px; text-align: center;
font-size: 30px ; font-family: sansirif; color: white; font-weight: bold;
}
.card-group {
	margin-top: 10px; margin-bottom: 15px;
}
footer { 
border: solid; height: 29px; border-color: #bdc3c7; margin-bottom: 1px; 
}